* {
    font-family: 'Sunflower', sans-serif;
  }
  
  body {
    position: relative;
    background-color: #fff;
    padding: 0;
    margin: 0;
  }

  
  
  /* Global */
  
  .container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .text-center {
    text-align: center;
  }
  
  .container>h1#title {
    padding-top: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column{
    flex:1;
    margin-right: 20px;
  }

  .column:last-child{
    margin-right: 0;
  }
  .flex{
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
img{
  width:100% !important;
  height: auto;
}


  

  /* Header **/
  
  header {
    padding-top:15px;
    background-color:#fff;
    color: #000;
    height: 60px;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  }
  
  header a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-size: 20px;
  }
  
  header li {
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h1 {
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header #logo, nav .current {
    padding-top:10px;
    color: #f65383;
    font-weight: bold;
  }
  
  nav .display {
    display: none
  }
  
  header #logo{
    font-size: 30px;
  }
  
  header #highlighter {
    color: #f65383;
    font-weight: bold;
    font-size: 30px;
  }
  
  #highlighter {
    color: #f65383;
    font-weight: bold;
  }
  
  header a:hover {
    color:#f65383; color:#f65383;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* showcase */

  .showcase {
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 5rem 0rem;
  }
  .showcase h1{
    color:#f65383;
    font-size: 30px;
  }

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    color:#616770;
    font-size: 30px;
}

.card {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  
}

.meetups h2{
color:#f65383;
}

footer {
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  height: 3em;
  padding: 1px;
  color: #ffffff;
  background-color: #f65383;
  text-align: center;
  margin: 0;
}